{% extends "base.html" %}
  
{% block title %}About{% endblock %}

{% block season %}
	<a class="nav-link" href="{{ url_for('home', _anchor='seasons') }}">Season <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
{{ super() }}
  <h2 class="about-team" style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='images/gokul.jpg') }}" alt="Gokul" height="400px" class="center">
      <div class="container">
        <h2>S. Gokula Krishnan</h2>
        <p>BTech IT - PSG College Of Technology</p>
        <p>gokulakrishnansb2002@gmail.com</p>
        <p><button class="button-about">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='images/rahul.jpg') }}" alt="Rahul" height="400px" class="center">
      <div class="container">
        <h2>R. Rahul</h2>
        <p>BTech IT - PSG College Of Technology</p>
        <p>rahulramalingam23@gmail.com</p>
        <p><button class="button-about">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="" style="width:100%">
      <div class="container">
        <h2>S S Siva Bharathwaaj</h2>
        <p>BTech IT - PSG College Of Technology</p>
        <p>sivabharathwaajss@gmail.com</p>
        <p><button class="button-about">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="" style="width:100%">
      <div class="container">
        <h2>K Janathsri Krishnan</h2>
        <p>BTech IT - PSG College Of Technology</p>
        <p>janathjsk007@gmail.com</p>
        <p><button class="button-about">Contact</button></p>
      </div>
    </div>
  </div>
</div>

  </div>
{% endblock %}