{% extends "base.html" %}

{% block title %}-{{ playerName }} {% endblock %}

{% block body %}
{{ super() }}
    <div class="player-profile">
        <img id="playerImage" src="{{ Information[13] }}" alt="{{ Information[3] }}" width="500" height="500">
        <p>Name: <b>{{ Information[3] }}</b></p>
        <p>Date of Birht: <b>{{ Information[8] }}</b></p>
        <p>Nationality: <b>{{ Information[7] }}</b></p>
        <p>IPL Debut: <b>{{ Information[8] }}</b></p>
        <p>Role: <b>{{ Information[4] }}</b></p>
        <p>Batting Style: <b>{{ Information[5] }}</b></p>
        <p>Bowling Style: <b>{{ Information[6] }}</b></p>
        <p>Matches: <b>{{ Information[9] }}</b></p>
        <p>Runs: <b>{{ Information[10] }}</b></p>
        <p>Wickets: <b>{{ Information[11] }}</b></p>
        <p>Played For: <b>{% for team in teamnames %}{{ team[0] }}({{ team[1] }}) {% endfor %}</b></p>

    </div>
{% endblock %}