{% extends "base.html" %}

{% block title %}Pointtable:{{ year }}{% endblock %}

{% block season %}
	<a class="nav-link" href="{{ url_for('home', _anchor='seasons') }}">Season <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
{{ super() }}
  		<div class="table-div">
  			<table class="table table-bordered table-hover">
  				<thead class="thead-points_table">
      				<tr>
						<th class="heading">Team name</th>
						<th class="heading">Matches</th>
						<th class="heading">Won    </th>
						<th class="heading">Lost   </th>
						<th class="heading">Tied   </th>
						<th class="heading">N/R    </th>
						<th class="heading">NRR    </th>
						<th class="heading">For    </th>
						<th class="heading">Against</th>
						<th class="heading">Points </th>
      				</tr>
				</thead>
				<tbody>
					{% for rows in pointtable %}
						<tr>
									<!-- to use len in fask we need to pass has pipe |-->
							{% for i in range(1, rows|length)%}
								<td>{{ rows[i] }}</td>
								{% endfor %}
						</tr>
					{% endfor %}
  				</tbody>
  			</table>
		</div>
		<section id="seasons">
			<h1 class="season-header">Points Tables</h1>
			<div class="season-buttons">
			  	{% for year in range(2008, 2023) %}
					<a class="button" href="{{ url_for('pointTable', year=year) }}"> {{ year }} </a>
			  	{% endfor %}
  
			</div>
  
		</section>
  
{% endblock %}