{% extends "base.html" %}

{% block title %}Pointtable:{{ year }}{% endblock %}
{% block head %}
{{ super() }}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
{% endblock %}

{% block season %}
	<a class="nav-link" href="{{ url_for('home', _anchor='seasons') }}">Season <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
{{ super() }}
  		<div class="table-div">
  			<table class="table table-bordered table-hover">
  				<thead class="thead-points_table">
      				<tr>
						<th class="heading">Team name</th>
						<th class="heading">Matches</th>
						<th class="heading">Won    </th>
						<th class="heading">Lost   </th>
						<th class="heading">Tied   </th>
						<th class="heading">N/R    </th>
						<th class="heading">NRR    </th>
						<th class="heading">For    </th>
						<th class="heading">Against</th>
						<th class="heading">Points </th>
      				</tr>
				</thead>
				<tbody>
					{% for rows in pointtable %}
						<tr>
									<!-- to use len in fask we need to pass has pipe |-->
							{% for i in range(1, rows|length)%}
								<td>{{ rows[i] }}</td>
								{% endfor %}
						</tr>
					{% endfor %}
  				</tbody>
  			</table>
		</div>
		<div id="charts">
		<canvas id="PointChart" width="800" height="400"></canvas>
		<script>
			const ctx = document.getElementById("PointChart").getContext("2d");
			const myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: {{ teamLabel | safe }},
				datasets: [{
					label: 'points',
					data: {{ points | safe }},
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgb(255, 255, 0)',
						'rgb(0, 0, 255)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
            			],
            			borderWidth: 1,
						yAxisID: 'y',

        			},
					{
					label: 'nrr',
					data: {{ nrr | safe }},
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgb(255, 255, 0)',
						'rgb(0, 0, 255)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
            			],
            			borderWidth: 1,
					yAxisID: 'y1',
        			}]
    			},
    			options: {
					responsive: false,
					interaction: {
        				mode: 'index',
        				intersect: false,
      				},
					stacked: false,
					plugins: {
						title: {
							display: true,
							text: 'chart'
						}
					},
        			scales: {
            			y: {
							type: 'linear',
							position: 'left',
							display: true,
							beginAtZero: true,
            			},
						y1: {
							type: 'linear',
							position: 'right',
							display: true,
							grid: {
								drawOnChartArea: false,
							},
						}
        			}
    			}
			});
		</script>
		</div>
		<section id="seasons">
			<h1 class="season-header">Points Tables</h1>
			<div class="season-buttons">
			  	{% for year in range(2008, 2023) %}
					<a class="button" href="{{ url_for('pointTable', year=year) }}"> {{ year }} </a>
			  	{% endfor %}
  
			</div>
  
		</section>
  
{% endblock %}