.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
}

.navbar {
  margin-top: 1.5%;
}

.searchTerm {
  display: inline;
}

.searchButton {
  display: inline;
  border-radius: 20%;
}

.search {
  display: inline;
}

.wrap {
  display: inline;
}



#highlights{
  text-align: center;
  background-color: #00237D;
  color: #fff;

}



h2
{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
  padding: 5% 5%;
}

.testimonial-carousel{
  padding: 5%;
  margin-bottom: 5%;
}

.table {
  margin-top: 3%;
}
.table-div {
  margin-left: 2%;
  margin-right: 2%;
}

.heading {
  background-color: #00237D;
  color: #fff;
  text-align: center;
}

.seasons {
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.5rem;
  margin-top: 1%;
  margin-bottom: 1%;
}

.season-header {
  margin-left: 2%;
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
  color: #00237D;
  font-size: 300%;
  font-weight: bold;
}

search-button{
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  margin: 5%;
  margin-left: 6%;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #00237D;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

search-button:hover{
  background: #00237D;
  color: #fff;
  border: none;
}


a.button{
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 45%;
  margin-bottom: 45%;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #00237D;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  line-height: 9;
  text-decoration: none;
}

.button:hover{
  background: #00237D;
  color: #fff;
  border: none;
}

.nav-link ::after {
  content: "";
  height: 10px;
  width: 0;
  background: #00237D;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link :hover:after{
  width: 100%;
}

.column {
  float: left;
  width: 40%;
  margin-bottom: 5%;
  margin-left: 7%;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 #00237D;
  margin: 8px;
  text-align: center;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #00237D;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button-about {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #00237D;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-about:hover {
  background-color: #D3D3D3;
  color: #00237D;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.about-team {
  margin-top: 3%;
  margin-bottom: 5%;
}

.teamName{
  word-break: break-all;
}

.player-profile{
  display: flex
}

.playerImage {
  float : left;
}

.summary {
  text-align: center;
  margin-top: 0px;
}

